<app-tabs (changed)="tabChanged($event)">
  <app-tab-title [icon]="'home'">Tab 1</app-tab-title>
  <app-tab-content [toggle]="toggled">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columnDefs">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rowDdata">
          <td>{{row.id}}</td>
          <td>{{row.email}}</td>
          <td>{{row.first_name}}</td>
          <td>{{row.last_name}}</td>
          <td>{{row.avatar}}</td>
        </tr>
      </tbody>
    </table>
  </app-tab-content>
  <app-tab-title  [icon]="'favorite'">Tab 2</app-tab-title>
  <app-tab-content [toggle]="toggled">
    <h3>Content 2</h3>
  </app-tab-content>
</app-tabs>

<button matButton color="accent" (click)="toggled = !toggled">Toggle</button>