<app-tabs (changed)="tabChanged($event)">
  <app-tab-title>Tab 1</app-tab-title>
  <app-tab-content>
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columnDefs">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rowDdata">
          <td>{{row.id}}</td>
          <td>{{row.email}}</td>
          <td>{{row.first_name}}</td>
          <td>{{row.last_name}}</td>
          <td>{{row.avatar}}</td>
        </tr>
      </tbody>
    </table>
  </app-tab-content>
  <app-tab-title>Tab 2</app-tab-title>
  <app-tab-content>Content 2</app-tab-content>
</app-tabs>
