.layout-container {

  background-color: #f0f0f0;
  height: 100%;
  display: flex;


  .container-wrap {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .footer {
    width: 100%;
  }
  
  .layou-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  .layout-sidenav {
    padding-left: 24px;
  }
}
