<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Erdemir Mail</span>
    <button mat-icon-button class="example-icon" (click)="toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <div class="avatar-wrap" [matMenuTriggerFor]="menu">
      <figure>
        <img [src]="profile.data.avatar" alt="">
      </figure>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ profile.data.email }}</span>
      </button>
      <button mat-menu-item (click)="clickOnLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout App</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
