.layout-header {

  width: 100%;
  background-color: lightblue;
  border-bottom: solid 1px #333;
  max-height: 72px;

  .header {
    display: flex;

    .profile {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 24px;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .avatar-wrap {
    cursor: pointer;

    figure {
      overflow: hidden;
      border-radius: 50%;
      border: 2px solid white;
      height: 48px;
    
      img {
        height: 100%;
      }
    }
  }
}